body {
  background: #dde7f2;
  font-family: "Sarabun", sans-serif;
}

.container {
  background: white;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 15px;
}

header {
  border-bottom: 1px solid #dde7f2;
  padding-bottom: 20px;
}

.search-form-input {
  background: #f9f7fe;
  border: none;
  border-radius: 6px;
  padding: 20px;
  width: 80%;
  font-size: 16px;
}

.search-button {
  background: #769fcd;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 15px 30px;
  margin-left: 5px;
  font-size: 16px;
}

.search-button:hover {
  cursor: pointer;
  transition: all 200ms ease-in-out;
  background: #83b0e3;
}

footer {
  text-align: center;
  font-size: 14px;
  border-top: 1px solid #dde7f2;
  padding-top: 20px;
}

a {
  color: #769fcd;
}
